doctype html
html
  head
    meta(charset='utf-8')
    style
      include style.css
    title= 'Veículos'
  body
    center
      h3= 'Veículos'

      table
        thead 
          tr
            th ID
            th Marca
            th Modelo
            th Ano
            th Especificação

          for vehicle in item
            tr
              td= vehicle._id
              td= vehicle.brand
              td= vehicle.model
              td= vehicle.year
              td= vehicle.specification