doctype html
html
  head
    style
      include style.css
    title= title
  body
    center
      h3= message

      table
        thead 
          tr
            th ID
            th Marca
            th Modelo
            th Ano
            th Especificação

          for vehicle in item
            tr
              td= vehicle._id
              td= vehicle.brand
              td= vehicle.model
              td= vehicle.year
              td= vehicle.specification