doctype html
html
  head
    style
      include style.css
    title= title
  body
    center
      h3= message

      table
        thead
          tr
            th ID
            th Nome
            th Idade
            th Habilidade

          for user in item
            tr
              td= user._id
              td= user.name
              td= user.age
              td= user.skill